@keyframes loadingPulse {
    0% {
        color: lightgray;
    }
    100% {
        color: gray;
    }
}

.uv-mdc-inputCard:not([data-state="loading"]) .uv-mdc-inputCard-loading,
.uv-mdc-inputCard:not([data-state="input"]) .uv-mdc-inputCard-input,
.uv-mdc-inputCard:not([data-state="ready"]) .uv-mdc-inputCard-main {
    pointer-events: none;
    opacity: 0;
    margin: 0;
    padding: 0;
}

.uv-mdc-inputCard {
    position: relative;
}

.uv-mdc-inputCard > div {
    box-sizing: border-box;
    min-height: 98px;
    width: 100%;
    height: 100%;
    padding: 16px;
}

.uv-mdc-inputCard-input,
.uv-mdc-inputCard-loading {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

.uv-mdc-inputCard-input > button {
    margin: 0 4px;
}

.uv-mdc-inputCard-input > span:first-child {
    display: inline-block;
}

.uv-mdc-inputCard-input > span:first-child > label {
    width: 75%;
}

.uv-mdc-inputCard-loading {
    transition: opacity 0.2s ease-in-out;
}

.uv-mdc-inputCard-loading__title {
    width: 100%;
    box-sizing: border-box;
    height: 1.2em;
    padding: 0 16px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    font-size: xx-large;
    line-height: 1.2em;
}

.uv-mdc-inputCard-loading__subtitle {
    animation: loadingPulse 1s linear alternate;
}
