.uv-mdc-reportingDialog {
    letter-spacing: normal;
}

.uv-mdc-reportingDialog--notice {
    display: inline-block;
    font-size: 16px;
    min-height: 30px;
    font-weight: 500;
}

.uv-mdc-reportingDialog-info .mdc-text-field--textarea textarea {
    font-family: monospace;
    font-size: 0.9rem;
    line-height: 1.2em;
    min-height: 150px;
}

.uv-mdc-reportingDialog .mdc-select,
.uv-mdc-reportingDialog [data-mdc-textinput] label {
    width: 100%;
    margin: 12px 0;
}
